
/* Global styles */
/* border box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
 color: #ffffff;

}
a {
    color: #ffffff;
}
a:hover {
    text-decoration: none;
}
h1, h2 {
  font-family: 'Cantata One', cursive;
  font-weight: 400;
  color: #ffffff;
}
h1 {
  font-size: 60px;
   text-shadow: 4px 3px #0a0e27;
}
h2 {
  font-size: 36px;
  margin-top: 0;
}
h3 {margin: 0;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.uppercase { 
	text-transform: uppercase;
}


/* Header & Footer */
header, 
footer {
  background: #643a71;
  color: #ffffff;
}
header h1,
header h2 {
    color: #ffffff;
    margin: 0;
}

/* Header styles only */
header {
  /*text-align: center;*/
}
.profile-img {
  /*width: 300px;*/
  border-radius: 50%;
  /*float: left;*/
  /*margin-right: 30px;*/
}

/* Footer styles only */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}
footer h2 {
  font-size: 20px;
  display: inline-block;
}


/* Work Experience */
.work {
    background: #8ea4d2;
}
h3 ~ p {margin: 0;
}
.job-description{margin-bottom: 25px;}
.job-description p:first-of-type {
	margin-top: 0;
}



/* Education */
.education {
    background: #0c1b33;
}
p + h3 {margin-top: 30px}








/*Navigation*/


.navbar body{
	background: #0c1b33;
	width: 100%;
	font: 16px 'Cantata One', serif;
} 

.navbar a {
	text-decoration: none;
	display: block;
	width: 200px;
}

.navbar ul {
	text-align: left;
	list-style: none;
	background: #0c1b33;
	text-color: white;
	text-align: center;
	padding: 0px;
	margin: 0px;
	
}
.navbar ul li {
	font: 16px 'Cantata One', serif;
	display: inline-block;
	position: relative;
	padding: 10px 15px;
	background: #0c1b33;
	cursor: pointer;
}
.navbar ul li:hover {
color: #88DCD7; 
	background: #643a71;
}
.navbar ul li ul {
	padding:0;
	position: absolute;
	left:-999em;
	width: auto;
}
.navbar ul li:hover ul {
	display: block;
	left: 0px;
		color: #88DCD7; 
	background: #643a71;
}

.navbar ul li ul li{
	background: #0c1b33;
	display:block;
	color: white;	
}
.navbar ul li ul li:hover{
	background: #643a71;
	color: #88DCD7; }



/* Media Queries */
@media (min-width: 900px) {
.column-narrow {
  width: 35%;
  float: left;
}
.column-wide {
  width: 62%;
  float: left;
padding-left: 20px;
}
}

@media (max-width: 899px) {
	header {
		text-align: center;
	}
	.profile-img {width: 200px;}
}
	]
